*
  
  p {
    color: green;
  }
  
  h1 {
    color: maroon;
  }
  #article-title{
    font-family: cursive;
  }
  #publish-time{
    color: gray;
  }
  .image{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg)
  }
  p{
    width: 300px
  }