*
header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
}
.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 50px;
  text-transform: uppercase;
}
body {
  background-color: #FFF;
  margin: 0 auto;
}
p {
    color: green;
  }
  
  h1 {
    color: maroon;
  }
  #article-title{
    font-family: cursive;
  }
  .image{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg)
  }
  p{
    border: 3px #000000;
    width: 500px;
    height: 30px;
  }
  h2{
    color: hsla(325, 50%, 50%, 0.6);
    background-color: hsl(240, 100%, 80%);
  }
  .answer {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
  }
  
  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
  }
  