*
  
body {
  background-color: #FFF;
  margin: 0 auto;
}
p {
    color: green;
  }
  
  h1 {
    color: maroon;
  }
  #article-title{
    font-family: cursive;
  }
  #publish-time{
    color: gray;
  }
  .image{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/soccer.jpeg)
  }
  p{
    border: 3px black;
    width: 300px;
    height: 400px;
  }
  h2{
    color: coral;
  }
  i {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  li:hover {
    color: #DBE9EE;